    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    body {
        background: #f2f2f2;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .container {
        height: 100vh;
        width: 1500px;
        background: #fff;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas:
            "sidebar header"
            "sidebar main";
        overflow: hidden;
        border: 1px solid #ddd;
    }

    /* HEADER */
    .header {
        grid-area: header;
        background: #fff;
        /* background-color: aqua; */
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        font-weight: bold;
    }

    .header h1 {
        font-size: 1.2rem;
        color: #333;
    }

    .header p:hover {
        transform: scale(1.03);
        transition: 0.3s ease-in-out;
        text-shadow: 2px 2px 2px #a6a5a5;
        border: none;
    }

    /* SIDEBAR */
    .sidebar {
        grid-area: sidebar;
        background: #333;
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .sidebar h2 {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    .nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .nav div {
        padding: 10px;
        background: #444;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
    }

    .nav div:hover {
        background: #555;
        transform: scale(1.03);
    }

    /* MAIN */
    .main {
        grid-area: main;
        background-color: #5ab06e;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .card {
        background-color: bisque;
        /* background: #fff; */
        padding: 15px;
        border-radius: 8px;
        border: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .big-card {
        grid-column: span 3;
    }

    .chart {
        background: #eee;
        height: 300px;
        border-radius: 5px;
        display: flex;
        align-items: flex-end;
        gap: 6px;
        padding: 10px;
    }

    .bar {
        flex: 1;
        /*Take equal space compared to other bars.*/
        /* background: #5ab06e; */
        border-radius: 3px;
        height: 50%;
        /*This line help when we want to create a bigger graph*/
    }

    .subject {
        display: flex;
        /* gap: 3px; */
        justify-content: space-around;
    }

    @media (min-width: 700px) {
        .container {
            grid-template-areas:
                "header"
                "main"
                "sidebar";
            /* sidebar moves to bottom */
            grid-template-columns: 1fr;
        }
        .sidebar {
            display: flex;
            overflow-x: auto;
            /* makes sidebar scrll horizontally */
        }
    }


    @media (min-width: 1024px) {
        .container {
            grid-template-areas:
                "sidebar header"
                "sidebar main";
            grid-template-columns: 200px 1fr;
        }
    }