body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.card-container {
  display: grid;
  margin: 50px;
  grid-template-columns: repeat(5,1fr);
  
  gap: 10px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.card-description {
  font-size: 1rem;
  color: #666;
}

.card-button {
  padding: 10px;
  width: 100%;
  background: gray;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.span2{
  grid-column: span 2;
}